<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.tw.dev.demoplugin" version="0.0.1">
  <name>DemoPlugin</name>
  <js-module name="DemoPlugin" src="www/DemoPlugin.js">
    <clobbers target="cordova.plugins.DemoPlugin"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="DemoPlugin">
        <param name="ios-package" value="CDVDemoPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/ios/CDVDemoPlugin.h"/>
    <source-file src="src/ios/CDVDemoPlugin.m"/>
    <framework src="QuartzCore.framework" />
    <framework src="CoreVideo.framework" />
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="DemoPlugin">
        <param name="android-package" value="com.tw.dev.demoplugin.DemoPlugin"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/DemoPlugin.java" target-dir="src/com/tw/dev/demoplugin/"/>
  </platform>
</plugin>
